@model basitsatinalimuyg.Dtos.LoginDto

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Register</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
		  rel="stylesheet" />
	<script src="https://kit.fontawesome.com/9f68437b47.js" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<style>
		* {
			font-family: 'Roboto', sans-serif;
		}
	</style>
</head>
<body>
	<div class="vh-100">
		<div class="container h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-lg-12 col-xl-11">
					<div class="card text-black" style="border-radius: 25px;">
						<div class="card-body p-md-5">
							<div class="row justify-content-center">
								<div class="col-md-10 col-lg-6 col-xl-6 order-2 order-lg-1">

									<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign in</p>

									<form asp-action="Login" method="post" class="mx-1 mx-md-4">
										<div asp-validation-summary="ModelOnly" class="text-danger"></div>

										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fa-solid fa-square-envelope fa-lg me-3"></i>
											<div class="form-outline flex-fill mb-0">
												<input asp-for="Email" type="email" id="email" class="form-control" placeholder="Your Email" />
												<span asp-validation-for="Email" class="text-danger"></span>
											</div>
										</div>

										<div class="d-flex flex-row align-items-center mb-4">
											<i class="fa-solid fa-lock fa-lg me-3"></i>
											<div class="d-flex flex-row align-items-center gap-2 flex-fill">
												<div class="form-outline flex-fill">
													<input asp-for="Password" type="password" id="form3Example1c" class="form-control" placeholder="Password" />
													<span asp-validation-for="Password" class="text-danger"></span>
												</div>
											</div>
										</div>
										<div class="d-flex flex-row justify-content-start align-items-center mb-5">
											<i class="fa-solid fa-cookie fa-lg me-3"></i>
											<div class="form-check">
												<input asp-for="RememberMe" class="btn form-check-input btn-dark me-2" type="checkbox" id="keepmeloggedin" />
												<label asp-for="RememberMe" class="form-check-label" for="keepmeloggedin">
													Keep me logged in
												</label>
											</div>
										</div>

										<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
											<button value="Login" type="submit" class="btn w-100" style="color:white;background-color:#40d781">Login</button>
										</div>

									</form>

								</div>
								<div class="col-md-10 col-lg-6 col-xl-6 d-flex align-items-center order-1 order-lg-2">

									<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
										 class="img-fluid" alt="Sample image">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
