@using basitsatinalimuyg.Constants;

@{
}

<div class="row mb-4 d-flex justify-content-between align-items-center" x-cloak
	x-data="{_:$store.userCart.getData(item.id)}">
	<div x-show="$store[item.id]===undefined">
		<div class="spinner-grow" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
	<template x-cloack x-if="$store[item.id]">
		<div class="row mb-4 d-flex justify-content-between align-items-center">

			<img :src="$store[item.id].imageUrl" class="img-fluid" :alt="$store[item.id].name"
				style="width: 150px; height: 150px; object-fit: cover;" />
			<div class="col-md-3 col-lg-3 col-xl-4">
				<p class="text-black mb-0" x-text="$store[item.id].name"></p>

				<span class="text-muted" style="font-size:13px;" x-text="item.category"></span>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-2 d-flex">
				<button class="btn btn-link px-2" x-on:click="$store.userCart.decreaseItem(item.id)"
					:disabled="$store.userCart.itemCount(item.id) !== undefined && $store.userCart.itemCount(item.id).count === 1"
					style="outline: none !important; box-shadow: none;">
					<i class="fas fa-minus" style="color:#000;"></i>
				</button>
				<template x-if="$store.userCart.itemCount(item.id) !== undefined">
					<input id="form1" min="1" name="quantity" step="1" x-model="$store.userCart.itemCount(item.id).count"
						type="number" class="form-control form-control-sm" />
				</template>
				<button class="btn btn-link px-2" x-on:click="$store.userCart.increaseItem(item.id)"
					style="outline: none !important; box-shadow: none;">
					<i class="fas fa-plus" style="color:#000;"></i>
				</button>
			</div>
			<div class="col-md-3 col-lg-2 col-xl-2 text-center">
				<h6 x-text="$store[item.id].price.amount+'₺'" class="mb-0"></h6>
			</div>
			<div class="col-md-1 col-lg-1 col-xl-1 text-end">
				<button x-on:click="$store.userCart.remove(item.id)" class="btn btn-outline-dark"
					style="outline: none !important; box-shadow: none;">
					<i class="fa-solid fa-trash"></i>
				</button>
			</div>
		</div>
	</template>
</div>
<div class="text-success">
	<hr>
</div>