@model IEnumerable<basitsatinalimuyg.Models.ProductViewModel>
@using basitsatinalimuyg.Constants;
@{
	ViewData["Title"] = "Index";

	var categoryLogo = new Dictionary<CategoryEnum, string>
{
{ CategoryEnum.Electronics, "fas fa-microchip" },
{ CategoryEnum.Toys, "fas fa-gamepad" },
{ CategoryEnum.Clothing, "fas fa-tshirt" },
{ CategoryEnum.Books, "fas fa-book" },
{ CategoryEnum.Beauty, "fas fa-magic" },
{ CategoryEnum.Health, "fas fa-heartbeat" },
{ CategoryEnum.Shoes, "fas fa-shoe-prints" },
{ CategoryEnum.Home, "fas fa-home" }
};
}

<style>
	.list-group-item {
		text-decoration: none;
		outline: none;
		border: none;
	}

	.list-group-item.active {
		background-color: #000 !important;
		border: none;
	}

	.list-group-item.active div {
		color: #fff;
	}

	.list-group-item.active i {
		color: #fff;
	}

	.list-group-item:hover {
		background-color: rgba(0, 0, 0, 0.9) !important;
		transition: 0.3s ease-in-out;
	}

	.list-group-item:hover div {
		color: #fff;
		transition: 0.3s ease-in-out;
	}

	.list-group-item:hover i {
		color: #fff;
		transition: 0.3s ease-in-out;
	}
</style>

<p class="display-5">Products</p>

<hr class="my-4" />

<div class="container-lg row">
	<div class="col-xl-2">
		<p class="blockquote">Categories</p>
		<hr />

		<ul class="list-group gap-2" x-data style="border-radius:0">
			<a class="lead text-dark container list-group-item list-group-item-action bg-transparent"
				:class="window.location.search == '' ? 'active' : ''" style="text-decoration:none; border:none"
				asp-action="Index">
				<div class="row d-flex align-items-center justify-content-center">
					<i class="fas fa-list col-2 d-flex justify-content-center"></i>
					<div class="col-10">All</div>
				</div>
			</a>
			<hr class="mb-0 mt-0" />
			@foreach (var category in categoryLogo)
			{
				var active = Context.Request.Query["category"] == category.Key.ToString() ? "active" : "";

				<a class="lead text-dark container list-group-item list-group-item-action bg-transparent @active"
					style="text-decoration:none; border:none" asp-action="Index" asp-route-category=@category.Key>
					<div class="row d-flex align-items-center justify-content-center">
						<i class="@category.Value col-2 d-flex justify-content-center"></i>
						<div class="col-10">@category.Key</div>
					</div>
				</a>
				<hr class="mb-0 mt-0" />
			}

		</ul>
	</div>
	<div class="col-xl-10 row mt-5">

		@if (Context.Request.Query["category"].Count != 0)
		{
			if (!Enum.TryParse<CategoryEnum>(Context.Request.Query["category"], out var category))
			{
				<p class="lead">There is no like @Context.Request.Query["category"] category we have.</p>
			}
			else
			{
				@foreach (var item in Model)
				{
					<partial name="Components/_ProductCard" model=@item />
				}
			}
		}
		else
		{
			@if (Model.Count() == 0)
			{
				<p class="lead">No products found.</p>
			}
			else
			{
				@foreach (var item in Model)
				{
					<partial name="Components/_ProductCard" model=@item />
				}
			}
		}

	</div>
</div>
