@model IEnumerable<basitsatinalimuyg.Models.ProductViewModel>

@{
	ViewData["Title"] = "Home Page";
}

<style>
	.glitch-header {
		background-image: url("/assets/landing_image.jpg");

		image-resolution: 300dpi;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 70vh;
		color: #fff;
		overflow: hidden;
	}

	h1 {
		font-family: 'Courier New', monospace;
		font-size: 3em;
		margin: 0;
		position: relative;
		z-index: 1;
	}
</style>

<header class="bg-dark p-5 glitch-header d-flex align-items-center justify-content-center ">
	<img src="~/assets/home_header.svg" width="800" height="200" alt="">

</header>
<p class="display-6 mt-5">New Products</p>
<hr class="my-4" />
<section class="pb-5">
	<div class="container px-4 px-lg-5 mt-5">
		<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

			@foreach (var item in Model)
			{
				<partial name="Components/_ProductCard" model=@item />
			}

		</div>
	</div>
</section>