* {
	box-sizing: border-box;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz {
		-appearance: textfield;
	}
	appearance: textfield;
}

.form-floating > .form-control {
	position: inherit;
	width: 100% !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.form-floating > .form-select {
	position: inherit;
	width: 100% !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

button {
	outline: none !important;
	box-shadow: none;
}
