@model IEnumerable<basitsatinalimuyg.Models.Product>

@{
	ViewData["Title"] = "Index";
}

<p>
	<a asp-action="Create">Create New</a>
</p>


<div class="container py-5">
	<div class="row">
		@foreach (var item in Model)
		{
			<partial name="Components/_ProductCard" model=@item />
		}
	</div>
</div>
